body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0 8px;
}

#Dashboard {
  display: flex;
}

.Dashboard__Section {
  width: 50%;
}

.Progress {
  margin: 10px auto;
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #ddd;
  border-radius: 25px;
}

#widgetProgress {
  width: 0%;
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 20px 8px 8px 20px;
}

.Container {
  border: 1px solid black;
  padding: 15px;
  margin: 8px;
}

.Container__Inner {
  width: 100%;
  border: 1px solid black;
  padding: 15px;
  margin: 8px 0;
}
